

body {
    font-family: Arial, sans-serif;
    background-color: #144f6e; /* Cambia este valor al color deseado */
    margin: 0;
    padding: 0;
}


.header {
    position: relative;
   
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.iconosRDS {
    position: absolute;
    top: 15px;
    right: 10px;
   
}

.iconosRDS img {
    width: 30px;
    height: auto;
}

h1 {
    margin: 0;
    color: white;
    position: absolute;
    margin-left: 44px;
}

.primerParrafo {
    margin: 20px;
    color: white;
    font-size: 20px;
    text-align: justify;
}

.contenedor1 {
    margin-top: 50px;
    display: flex;
}

.TituloBuscador {

    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.buscador {
    display: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  
}

.buscador input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: calc(98% - 80px);
    margin-left: 20px;

    
   
   
  
}

.buscador button {
  
   
    background-color: #007bff;
    color: white;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    width: calc(100% - 100px);
    margin-left: 20px;
    
    
   
    
}

.buscador button:hover {
    background-color: #0056b3;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.foto {
    margin: 10px;
    position: relative;
    cursor: pointer;
    width: auto;
}

.foto img {
    width: 400px;
    height: 70%;
    transition: transform 0.5s;
}

.foto:hover img {
    transform: scale(1.4);
}

.formulario-contacto {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.formulario-contacto, h2 {
    margin-bottom: 20px;
    color: white;
    position: relative;
    z-index: 2;
}

.campo {
    margin-bottom: 20px;
    margin-right: 20px;
    color: white
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.Image-1 {
    width: 30%;
    margin-left: 30px;
}


.Icon{
    width: 40px;
}

footer {
    background-color: #0d364c;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 9999;

}

main {
    margin-bottom: 100px; 
    position: relative;
    flex: 1;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.footer-icons a {
    margin-left: 20px;
}

.footer-icons img {
    width: 30px;
    height: auto;
    margin-left: 15px;
    
}



.clinicas-servicios {
    text-align: justify;
    margin: 20px;
}

.clinicas {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    color: #16ca9d; 
    
}

.servicios {
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #ce66d5; 
}


.imagenClinica{
    width: 800px;
    height: 400px;
}


.Hipervinculos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Hipervinculos a {
    text-decoration: none;
    color: #fbfbfb;
    padding: 5px 10px; 
}

.Hipervinculos a:hover {
    color: #000; 
}
